@media (max-width: 1200px)
{
    .container_body { width: 1200px; }
    .container_body > *
    {
        width: 1200px;
        box-sizing: border-box;
    }
    .img_home_page
    {
        width: 1200px;
        background-size: cover;
    }
    .home_page_header_menu { width: 1200px;}
    .all_tools_paragraph
    {
        width: 1200px;
        display: grid;
        grid-template-columns: repeat(3, 345px);
        grid-template-rows: 34px 44px;
    }
    .all_tools_heading
    {
        display: grid;
        grid-template-columns: 1200px;
        grid-template-rows: 56px 53px;
    }
    .all_tools_info
    {
        display: grid;
        grid-template-columns: repeat(3, 345px);
        grid-template-rows: 1fr;
    }
    .all_tools_info > *
    {
        background-size: contain;
        background-repeat: no-repeat;
    }
    .block_content_page > * { width: 1200px; }
    .content_blocks
    {
        display: grid;
        grid-template-columns: 500px 500px;
        grid-template-rows: 413px;
    }
    .content_block_foto > * 
    {
        width: 500px;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .protect_content_foto 
    {
        width: 500px;
        background-size: contain;
    }
    .protect_content_text { width: 443px; }
    .content_block_slider
    {
        padding-top: 80px;
        display: grid;
        grid-template-columns: 500px 500px;
        grid-template-rows: 413px 22px;
    }
    .content_text
    {
        display: grid;
        grid-template-columns: 380px;
        grid-template-rows: 348px 22px 22px;
    }
    .images_slider_one > *
    {
        background-size: contain;
        width: 560px;
        height: 370px;
    }
    .block_start_point
    {
        display: grid;
        grid-template-columns: 1200px;
        grid-template-rows: 174px 383px;
    }
    .get_started_block
    {
        width: 1120px;
        display: grid;
        grid-template-columns: 480px 480px;
        grid-template-rows: 370px;
    }
    .pricing_plans_block
    {
        display: grid;
        grid-template-columns: 1120px;
        grid-template-rows: 140px 210px 233px 261px;
    }
    .plans_pay_table
    {
        width: 1120px;
        height: 222px;
    }
    .plans_features
    {
        display: grid;
        grid-template-columns: 1120px;
        grid-template-rows: 12px repeat(5, 44px);
    }
    .all_plans_name
    {
        width: 330px;
        height: 215px;
    }
    .all_plans_info
    {
        width: 350px;
        height: 215px;
        display: grid;
        grid-template-columns: 15px 340px;
        grid-template-rows: repeat(4, 22px);
    }
    .customer_support_text
    {
        width: 500px;
        height: 464px;
        display: grid;
        grid-template-columns: 383px;
        grid-template-rows: 162px 140px 22px 22px 22px;
    }
    .footer_page
    {
        display: grid;
        grid-template-columns: 210px repeat(5, 150px);
        grid-template-rows: 475px 50px;
    }
}