$colorTextWhite: #ffffff;
$backgroundColor: #F2F2F2;
$backgroundColorContent: #60777C;
$ColorBlack: #000000;

.block_all_in_one_tools
{
    background-color: $backgroundColor;
    color: $ColorBlack;
}
.block_content_page
{
    background-color: $backgroundColorContent;
    color: $colorTextWhite;
}
.block_protect_content
{
    background-color: $backgroundColor;
    color: $ColorBlack;
}
.block_start_point
{
    background-color: $backgroundColor;
    color: $ColorBlack;
}
.get_started_block
{
    background-color: $ColorBlack;
    color: $colorTextWhite;
}
.link_get_started
{
    color: $colorTextWhite;
}
.questions_page
{
    background-color: $ColorBlack;
    color: $colorTextWhite;
}
.customer_support
{
    background-color: $ColorBlack;
    color: $colorTextWhite;
}
.start_trial_block
{
    background-color: $ColorBlack;
}
.start_trial_text
{
    color: $colorTextWhite;
}
.footer_page
{
    background-color: $ColorBlack;
    color: $colorTextWhite;
}
.link_text_p5
{
    color: $colorTextWhite;
}
.link_text_white
{
    color: $colorTextWhite;
}